<div class="container-xl container-lg container-md container-sm container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="card bg-light shadow-lg border-0 rounded-lg p-4 p-md-5 mt-5">
        <div class="text-center mb-3">
          <img src="/img/logo2.png" alt="" class="h-80 mx-auto">
        </div>
        <div class="card-body p-2 p-md-5 space-y-8 mt-10">
          <h2 class="card-title font-sans font-bold text-3xl">Blognimals</h2>
          <p class="card-text font-sans">Blognimals es un blog de noticias creado para personas animalistas y activistas por los perros y gatos.</p>
        </div>
      </div>
    </div>
  </div>
</div>