<footer class="bg-pink-light py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 text-center">
        <a href="/aboutus" class="btn btn-outline-secondary mb-4">Acerca de nosotros</a>
        <a href="/contact" class="btn btn-outline-secondary mb-4">Contacto</a>
      </div>
    </div>
    <div class="row">
      <div class="col text-center text-muted">
        <p>@copyright 2023 Desarrollado por Mariela Francisca Ochoa Hutinel.
          <span class="d-none d-sm-inline">UwU.</span>
        </p>
      </div>
    </div>
  </div>
</footer>
