  <!-- INICIO NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgba(255, 192, 203, 0.8);">
  <div class="container">
    <a class="navbar-brand" href="/body">Blognimals</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="/publicaciones">Publicaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cats">Gatitos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dogs">Perritos</a>
        </li>
        <li class="nav-item">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-info" type="submit">Buscar</button>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


    <!-- FIN NAVBAR -->